				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
				</div>

				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>

			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
						<li>
							<i class="icon-home home-icon"></i>
							<a href="?r=index/index">后台管理</a>
						</li>

						<li>
							<a href="?r=position/position_list">简历管理</a>
						</li>
						<li class="active">修改简历</li>
					</ul><!-- .breadcrumb -->

					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div><!-- #nav-search -->
				</div>

				<div class="page-content">
					<div class="page-header">
						<h1>
							简历管理
							<small>
								<i class="icon-double-angle-right"></i>
								修改简历 
							</small>
						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->

							<form class="form-horizontal" role="form" action="?r=resume/update" method="post">				
							
								<div class="space-4"></div>

								<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名 </label>

<div class="col-sm-9">
<input type="text" id="form-field-1" name="realname" value="<?=$info['realname']?>" class="col-xs-10 col-sm-5" />
</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 学历 </label>

<div class="col-sm-9">
<select name="teach" id="slt">
<option value="请选择">
	请选择
</option>
<option value="小学">
	小学
</option>
<option value="初中">
	初中
</option>
<option value="中专">
	中专
</option>
<option value="高中">
	高中
</option>
<option value="大学">
	大学
</option>
<option value="硕士">
	硕士
</option>
<option value="博士">
	博士
</option>
</select>
</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 专业 </label>

<div class="col-sm-9">
<input type="text" id="form-field-1" value="<?=$info['major']?>" class="col-xs-10 col-sm-5" name="major" />
</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 性别 </label>

<div class="col-sm-9">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex" value="男" id="check" >男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="sex" value="女" id="check">女

</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 地址 </label>

<div class="col-sm-9">
<input type="text" id="form-field-1" value="<?=$info['address']?>" class="col-xs-10 col-sm-5" name="address" />
</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 手机号码 </label>

<div class="col-sm-9">
<input type="text" id="form-field-1" value="<?=$info['mobile']?>" class="col-xs-10 col-sm-5" name="mobile" />
</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮件 </label>

<div class="col-sm-9">
<input type="text" id="form-field-1" value="<?=$info['email']?>" class="col-xs-10 col-sm-5" name="email" />
</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 自我介绍 </label>

<div class="col-sm-9">
<textarea name="introduce" id="" cols="44" rows="10"><?=$info['introduce']?></textarea>
</div>
</div>

<div class="space-4"></div>

<div class="form-group">
<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 工作经历 </label>

<div class="col-sm-9">
<textarea name="experience" id="" cols="44" rows="10"><?=$info['experience']?></textarea>
</div>
</div>

<input type="hidden" name="id" value="<?=$info['id']?>">

<div class="space-4"></div>


<div class="clearfix form-actions">
	<div class="col-md-offset-3 col-md-9">
		<button class="btn btn-info" type="submit">
			<i class="icon-ok bigger-110"></i>
			Submit
		</button>

		&nbsp; &nbsp; &nbsp;
		<button class="btn" type="reset">
			<i class="icon-undo bigger-110"></i>
			Reset
		</button>
	</div>
</div>

</form>

<script>
	document.getElementById("slt").value = "<?=$info['teach']?>";
	document.getElementById("check").value = "<?=$info['sex']?>";
</script>